<div class="container-fluid">
<md-form-field>
  <input mdInput placeholder="JO/GO..." aria-label="State" [mdAutocomplete]="auto" [formControl]="stateCtrl">
  <md-autocomplete #auto="mdAutocomplete">
    <md-option *ngFor="let state of filteredStates | async" [value]="state.name">
      <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
      <span>{{ state.name }}</span> |
      <small>Population: {{state.population}}</small>
    </md-option>
  </md-autocomplete>
</md-form-field>
</div>
<router-outlet></router-outlet>

