<div class="infobox">
  <h2>InfoBox</h2>

  <ul class="list-group">
    <li class="list-group-item">Customer ：Muji</li>
    <li class="list-group-item">GO No. : S16Z08878</li>
    <li class="list-group-item">Style No. : 17SC741</li>
    <li class="list-group-item">Order Quantity : 20,658 pcs</li>
    <li class="list-group-item">Washing ： Soft Wash</li>
    <li class="list-group-item">Ex fty : 2016/10/31</li>
  </ul>
  <div class="warning"><h4>Warning</h4>
    <ul class="list-group">
      <li class="list-group-item">some warning</li>
      <li class="list-group-item">some warning</li>
      <li class="list-group-item">some warning</li>
      <li class="list-group-item">some warning</li>
    </ul>
  </div>
</div>

