
.warning
  height: 250px
  background-color: #ff2021
  color: #ffffff

@keyframes oscillate-enlarge
  0%
    transform: scale(0.3)
  100%
    transform: scale(1)

.infobox
  animation: oscillate-enlarge 0.6s ease-in-out 0s alternate
  //transform-origin: 125px 115px

  background-color: rgba(11, 41, 55, 0.3)
  color: #ffffff
  margin: 20px

.list-group .list-group-item
  background-color: rgba(111, 136, 148, 0.3)
